.app {
    min-height: 100vh;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.header {
    height: 2rem;
    width: calc(100% - 2rem);
    max-width: var(--bh-max-content-width);
    margin: 2rem auto 1rem auto;
}

.content {
    width: calc(100% - 2rem);
    max-width: var(--bh-max-content-width);
    margin: 0 auto;
    /* flex: 1; */
    min-height: calc(100vh - 10rem);
}

.avatar {
    border-radius: 50%;
    max-width: 5rem;
    max-height: 5rem;
}

.shazam-result {
    margin: 1rem 0;
    background-color: rgb(var(--bh-color-rgb), 0.01);
    border-radius: var(--bh-card-border-radius);
    border: var(--bh-card-border-width) solid rgb(var(--bh-color-rgb), 0.1);
    padding: 1rem;
}

/* .shazam-result-success {
} */

.shazam-result-success-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.shazam-result-success-info-divider {
    margin-top: 1.5rem;
    height: 1px;
    background-color: rgb(var(--bh-color-rgb), 0.1);
}

/* .shazam-result-streamer {
} */

.streamer {
    display: flex;
    align-items: center;
}

.streamer-avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.streamer-name {
    position: relative;
    word-break: break-all;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--bh-purple);
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--bh-purple);
        bottom: -2px;
        opacity: 0;
        transition: 0.1s ease-in opacity;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.streamer-description {
    margin-left: 0.7rem;
    font-size: 1.5rem;
    color: var(--bh-color);
}

.shazam-info {
    margin-top: 1rem;
    padding-inline: 1.5rem;
}

.shazam-info-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bh-color);
}

.shazam-info-time {
    margin-top: 0.5rem;
    display: block;
    color: var(--bh-color);
}

.shazam-info-bth {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.song-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.song-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--bh-color);
    text-decoration: none;
    border: var(--bh-card-border-width) solid rgb(var(--bh-color-rgb), 0.1);
    border-radius: var(--bh-card-border-radius);
    padding: 0.3rem 0.5rem;
}

.song-link-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.song-link-text {
    margin-left: 0.3rem;
}

.song-link-text-full {
    margin-left: 0.3rem;
}

.song-link-shazam {
    color: var(--bh-blue);
    fill: var(--bh-blue);
    border-color: rgb(var(--bh-blue-rgb), 0.5);
    background-color: rgb(var(--bh-blue-rgb), 0.05);
}

.song-link-youtube {
    color: red;
    fill: red;
    border-color: rgb(255, 0, 0, 0.5);
    background-color: rgb(255, 0, 0, 0.05);
}

.artists {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.artist-ampersand {
    color: var(--bh-color);
    font-size: 1.1rem;
    font-weight: bold;
    margin-inline: 0.3rem;
}

.artist {
    display: inline-flex;
    align-items: center;
}

.artist-avatar {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.2rem;
}

.artist-name {
    color: var(--bh-color);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 800px) {
    .shazam-result-success-info {
        flex-direction: row;
    }

    .shazam-result-success-info-divider {
        width: 1px;
        height: auto;
        margin-top: 0;
    }

    .shazam-info {
        margin: 1rem 0;
    }
}

@media (min-width: 650px) {
    .shazam-result {
        padding: 1.5rem;
    }
}
